@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Director</th>
            <th>Color</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>


    @* Replace 'Movies' with the actual collection name in the PageModel *@
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.Year</td>
            <td>@movie.Director</td>
            <td>@(movie.Color ? "Color" : "B&W")</td>
            <td>@movie.Description</td>
         </tr>
      
    }
    </tbody>
</table>
